<h1>Chronomètre</h1>

<!-- The timer will be printed here -->
<div class="timer">
    {{ toPrintTime }}
</div>

<!-- Buttons to interact with the timer -->
<div class="btns">
  <div class="start-btn" (click)="btnStartTimer()">
    Démarrer / Reprendre
  </div>

  <div class="stop-btn" (click)="btnStopTimer()">
    Stop
  </div>

  <div class="save-btn" (click)="btnSaveTime()">
    Sauvegarder
  </div>

  <div class="resume-btn" (click)="btnResetTimer()">
    Remettre à 0
  </div>
</div>

<!-- Saved times will be printed here -->
<div *ngFor="let currentTime of savedTimes; let currentTimeIndex = index" class="allSavedTimes">
  <div [attr.class]="'savedTime' + currentTimeIndex">
    {{ getTimeFormat(currentTime) }}
  </div>
</div>
<router-outlet></router-outlet>