*
{
    text-align: center;
}

.card
{
    padding: 20px;
    border: black solid 1px;
    margin: 5px;
    box-shadow: inset -0.1em -0.1em 0.4em black;
    width: 40%;
    margin: 10px auto;
}

.timer
{
    font-size: 50px;
}

.btn-and-msg
{
    height: 130px;
}

.btn
{
    font-size: 12px;
    margin: 0px 10px;
}

.start-stop-btn
{
    width: 100px;
    height: 50px;
}

.save-btn
{
    width: 100px;
    height: 50px;
    background-color: orange;
}

.resume-btn
{
    width: 100px;
    height: 50px;
    background-color: rgb(218, 218, 0);
}

.info-msg
{
    margin: 10px 0px;
}

.allSavedTimes
{
    min-height: 550px;
}

.row
{
    margin: 5px 0px;
}

.box
{
    padding: 5px 0px;
}

.note
{
    width: 80%;
}

.deleteSavedTime
{
    width: 10px;
    background-color: red;
    display: inline;
    color: white;
    font-size: 20px;
}

.subCard .deleteSavedTime
{
    margin: 0px;
}

.btnDeleteAllSavedTimes
{
    color: blue;
    width: 35%;
    padding: 0px;
    margin: 0px;
}

.btnDeleteAllSavedTimes:hover
{
    color: rgb(0, 0, 165);
}