*
{
    text-align: center;
}

.start-btn
{
    width: 100px;
    height: 50px;
    background-color: green;
}

.stop-btn
{
    width: 100px;
    height: 50px;
    background-color: red;
}

.save-btn
{
    width: 100px;
    height: 50px;
    background-color: orange;
}

.resume-btn
{
    width: 100px;
    height: 50px;
    background-color: yellow;
}